<header class="header">
  <div class="header__container">
    <a href="/{{ country.region }}/{{ country.code }}/" class="header__logo">Pagayo<span class="logo-dot">.</span></a>
    
    <nav class="header__nav">
      <a href="/{{ country.region }}/{{ country.code }}/features" class="header__nav-link">{{ country.nav.features }}</a>
      <a href="/{{ country.region }}/{{ country.code }}/pricing" class="header__nav-link">{{ country.nav.pricing }}</a>
      <a href="/{{ country.region }}/{{ country.code }}/contact" class="header__nav-link">{{ country.nav.contact }}</a>
    </nav>
    
    <div class="header__actions">
      <a href="https://app.pagayo.com/login" class="header__login">{{ country.nav.login }}</a>
      <a href="https://app.pagayo.com/register/" class="btn btn-primary btn-sm">{{ country.nav.startFree }}</a>
    </div>
  </div>
</header>
